<div class="intro-mod" id="intro-mod" aria-hidden="true">
  <div class="intro-mod-top">
    <span class="intro-mod-label">{{ t.intro_label }}</span>
    <span class="intro-mod-label">{{ t.intro_label_2 }}</span>
  </div>

  <div class="intro-mod-center">
    <div class="intro-mod-hairline"></div>
    <div class="intro-mod-mask">
      <h1 class="intro-mod-name">{{ config.OWNER_NAME }}</h1>
    </div>
    <div class="intro-mod-sub">
      {{ t.intro_sub }}
    </div>
  </div>

  <div class="intro-mod-bottom">
    <span class="intro-mod-counter" id="intro-counter">000<span class="intro-mod-counter-dim"> / 100</span></span>
    <span class="intro-mod-loc">{{ t.intro_location }}</span>
  </div>
</div>
