{% extends 'base.html' %}

{% block content %}
  {% include 'sections/hero.html' %}
  {% include 'sections/about.html' %}
  {% include 'sections/education.html' %}
  {% include 'sections/skills.html' %}
  {% include 'sections/projects.html' %}
  {% include 'sections/experience.html' %}
  {% include 'sections/certs.html' %}
  {% if posts %}{% include 'sections/blog.html' %}{% endif %}
  {% if testimonials %}{% include 'sections/testimonials.html' %}{% endif %}
  {% include 'sections/contact.html' %}
{% endblock %}
